.table td, .table th {
    padding: 1.75rem;
}

.card {
    padding-left: 20px;
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 10px;
}

a,
a label {
    cursor: pointer;
}